<%- include('./partials/header'); -%>
<h1>Home</h1>
<%= homeContent; %>
<% postList.forEach(function(n) { %>
    <h3><%=n.title; %></h3>
    <p><%=n.content; %></p>
<% }) %>
<%- include('./partials/footer'); -%>