<%- include('./partials/header'); -%>
<h1>Home</h1>
<%= homeContent; %>
<% postList.forEach(function(n) { %>
    <h3><%=n.title; %></h3>
    <% if (n.content.length > 100) { %>
        <%= trunLength = n.content.length - 100; %>
        <p><%= n.content.slice(0, trunLength) + "..."; %></p>
    <% } else { %>
        <p><%=n.content; %></p>
    <% } %>
<% }) %>
<a href="">Read More</a>
<%- include('./partials/footer'); -%>